<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- ====================== Essential scripts ======================== -->
  <meta http-equiv="Content-Security-Policy" content="default-src
    'self'
    'unsafe-inline'
    https://code.jquery.com
    https://unpkg.com
  ">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

  <!-- JQuery --><script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <!-- JQuery for drag/drop --><script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <!-- Axios --><script type="text/javascript" src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>

<!-- ====================== Essential back-end data ======================== -->
  <script type="text/javascript">
  //Core global objects and variables
    const UsersDirectory = <%-JSON.stringify(UsersDirectory)%>;
    let Server = <%-JSON.stringify(Server)%>;
    let UserSession = <%-JSON.stringify(UserSession)%>;
    const Username = UserSession.user.name;
    let Partition = <%-JSON.stringify(partition)%>.replace(`/${UserSession.user.name}`, '');
    let firstVisit = UserSession.user.firstVisit;
    let totalsize = <%-JSON.stringify(totalsize)%>;
    let mobile = false;
    const Private = UserSession.home === UsersDirectory ? true : false;
    let rivals = <%-JSON.stringify(rivals)%> || [];
    let oversize = totalsize >= UserSession.maxsize;
    //When user has set private directory to be home directory, we remove user name from the partition (which is supposed to be there on the back-end, but creates bugs on the front end).
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) mobile = true;
  </script>

<!-- ================================ CSS ================================== -->
<link type="text/html" href="/fonts">
<link rel="stylesheet" type="text/css" href="/fa-icons.css">
<link rel="stylesheet" type="text/css" href="/general.css">
<link rel="stylesheet" type="text/css" href="/colors.css">
<link rel="stylesheet" type="text/css" href="/head.css">
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="stylesheet" type="text/css" href="/file-list.css">
<link rel="stylesheet" type="text/css" href="/footer.css">
<link rel="stylesheet" type="text/css" href="/media-queries.css">
<link rel="stylesheet" href="/body-logo.css">
<link rel="stylesheet" href="/error-block.css">
<link rel="stylesheet" type="text/css" href="/animations.css">

<!-- ======================================================================= -->

<title>Simulacrum</title>
</head>
<!--------------------------------------------------------------------------------------------------------->
  <div class="dialog-cover hide">
    <div class="dialog-box">
  <!-- Message and response buttons go here -->
    </div>
  </div>

  <div class="shadow-image">
    <img src="/voidglobe.gif" class="background-logo">
  </div>
  <div class="error-display">

  </div>
<!--------------------------------------------------------------------------------------------------------->
  <body ondrop="fileDragger(event)" ondragover="fileDragger(event)">

    <div class="operation-status fixed high-index hide">
    </div>

    <div id="MessageLog" class="message fadeout hide">
      <i class="fa fa-times"></i>
      <!-- Javascript will put message here based on error triggered -->
    </div>
<!--------------------------------------------------------------------------------------------------------->
   <aside>
    <a id="logoLink" class="taphover" href="/" draggable="true"><img class="logo" src="/TNT Logo.png" alt="" width="90"></a>
<!--------------------------------------------------------------------------------------------------------->
    <nav>
      <% if (UserSession && partition.includes(UserSession.user.name) && !UserSession.guest) {%>
      <button id="myDir" class="navlink">
        <a href="#">
          <span>Public Directory</span>
          <img src="/public-folder.png" height="120px" width="140px" style="align-self: center">
        </a>
      </button>

      <%} else if (!UserSession.guest) {%>
      <button id="myDir" class="navlink">
        <i class="fa fa-house-user"></i>
        <a href="#">
          <span>Private Directory</span>
        </a>
      </button>
      <%}%>

      <button id="viewDir" class="navlink">
        <i class="fa fa-arrow-right"></i>
        <a class="view-dir"href="/">View Target Folder</a>
      </button>

      <button id="fetchFiles" class="navlink d-flex" hidden>
        <a href="#" id="prevAll" onclick="findAllFiles(event, Directory.index - 1)"><i class="fa fa-arrow-left"></i> Prev File Set</a>
        <a href="#" id="nextAll" onclick="findAllFiles(event, Directory.index + 1)">Next File Set<i class="fa fa-arrow-right"></i></a>
      </button>

      <button id="openLog" class="navlink show-modal">
        <i class="fa fa-clipboard" style="font-size: 0.8rem;"></i>
        <a href="#">Open Log</a>
      </button>

      <div id="LOG_Modal" class="modal">

        <div style="display:flex; padding: 15px;">
          <h1 style="margin: auto;">Viewing log information</h1>
          <button type="button" class="my-button dark closemodal" style="float: right; color: peru;">Close Log</button>
        </div>

        <hr>
        <textarea id="logDisplay" class="view-text" style="filter: invert(100%);" disabled>
        </textarea>
      </div>

      <button class="navlink">
        <i class="fa fa-sign-out"></i>
        <a href="/signout">Signout</a>
      </button>

      <div class="d-flex" style="order: 1; align-self: center; margin-top: 3%;">
        <i class="fa fa-arrow-up"></i>
        <h5>Primary Directories List</h5>
        <i class="fa fa-arrow-up"></i>
      </div>

    </nav>


    <div class="message directory-stats fadeout">
      <!-- Hovering over a directory reveals the stats/sub-folders here -->
    </div>
   </aside>
<!--------------------------------------------------------------------------------------------------------->
  	<main>
    	<header class="header d-flex" hidden>
        <h1>
          <% if (directory) {%>
        	Browsing directory: <span><%= directory.name %></span>. <br> Created by: <span><%=directory.stats.creator %></span> on <%=directory.stats.birthtime %>. <br>There are currently <span><%=directory.files.length%></span> entries listed.
          <% } else {%>
            You can interact with the Skeleton Hill database here, though optimization is limited. <br>Videos, audio, images, zips and text files that are less than 1 gigabyte are the data types that will be transmitted most reliably. If you have several files, especially any large ones, compress them into a ZIP before uploading.
            <hr>
            After selecting items to upload, input a folder to create and/or upload to, hit SUBMIT, and the contents should be displayed down below shortly afterwards.<br>
          <% } %>
          <br>
        </h1>
        <% if (UserSession.guest) {%>
          <p class="guest-warning">As a guest user, you are permitted no more than 3 gigabytes of storage.</p>
        <% } %>
    	</header>

    <hr>
    <br>
<!-- ===================================================  -->
<script type="text/javascript" src="/Aesthetics.js"></script>
<!-- ===================================================  -->

  	<section class="form">

     <div id="directoryList">
        <i class="fa fa-folder"></i>
		<i class="fa fa-info-circle info" data-after="Click folder icons to add their name/path to the folder designation input"></i>

        <h1 id="primeDirectoryInput" class="d-flex" style="justify-content: center">
          <i class="fa fa-trash-alt" style="color: gray" onclick="sendDeleteRequest({name: this.parentNode.title, path: CurrentFolder}, true)"></i>
          <a id="editPrime" href="#" disabled="true" title="Drag a primary directory into the box, or click its folder icon to stage it for edit or deletion."></a>
          <i class="fa fa-edit" onclick="makeEdit(this, $(this).prev('a')[0])"></i>
        </h1>
<!--------------------------------------------------------------------------------------------------------->
      <table id="tableOfDirectories">
        <h1 title="Primary folders for all other sub-directories. Gotta start somewhere right? Generally, any new folders you create should be a sub-directory from one of these, unless the content is unrelated to the directory name." style="cursor: help;">Base Folders/Primary Directories</h1>

        <% if (PrimaryDirectories) {%>
          <% for (let i = 0; i < PrimaryDirectories.length; i++) {%>
            <!-- Otherwise list normally -->
              <td title="<%=PrimaryDirectories[i].name%>">
                <i class="fa fa-folder"></i>
                <a id="directory<%=i%>" class="folder-link taphover" href="/<%=partition + PrimaryDirectories[i].name%>"><%=PrimaryDirectories[i].name%></a>
              </td>
          <%}%>
        <% } %>
      </table>
<!--------------------------------------------------------------------------------------------------------->
  	 <hr>
	      <h1 id="convertShow" title="Paste a URL from an image/audio/video source, then click Convert to upload/create it within target folder">URL Converter</h1>
        <form id="convertForm" class="input-container form" action="/convert/<%=directory.name%>" method="post" enctype="multipart/form-data" title="Paste a URL or source address from an image, audio or video to replicate it into this folder">

          <div class="input-container" style="flex: 40%">
            <label for="url">Source URL</label>
            <input id="url" type="text" name="url" class="input" style="width: 85%;" value="" placeholder="https://example.com/source">
          </div>

  		  <br>
    		  <div class="input-container convert-name" style="flex: 40%">
    	        <label for="name">Custom Name</label>
    	        <input id="newName" type="text" name="name" class="input darkcyan" value="" placeholder="File" maxlength="50" required pattern="[A-Za-z0-9 )_(-]+"  title='Only numbers, letters, and the symbols: "-_ " can be used within the file' autocomplete="off">
    		  </div>

          <!--<div class="input-container" style="flex: 20%">-->
          <!--  <label for="audioOnly" style="font-size: 0.8rem;">Audio Only</label>-->
          <!--  <input id="audioOnly" type="checkbox" name="audioOnly" class="input" style="width: 85%;">-->
          <!--</div>-->

    	    <button id="convert" type="submit" style="padding: 8px; min-width: 120px; font-family: 'Allerta Stencil'; font-weight: 700;" hidden>Convert</button>
          <hr>

          <div id="convertMetadata" class="input-container form">
            <h1 title="Metadata for converted file (artist name, album, title, etc.), useful for media player organization. Converted files may already hold metadata." class="d-flex" style="justify-content: center">Metadata</h1>

            <p style="color: gray;">Metadata for converted file (artist name, album, title, etc.), useful for media player organization. Converted files may already hold metadata.</p>

            <div class="input-container">
              <label for="song">Name/Title</label>
    	        <input id="song" type="text" name="song" class="input darkcyan metadata" value="" maxlength="80" pattern="[A-Za-z0-9 )_(-]+"  title='Only numbers, letters, and the symbols: "-_ " can be used for title name' autocomplete="off">
            </div>
            <div class="input-container">
              <label for="artist">Artist/Creator</label>
              <input id="artist" type="text" name="artist" class="input darkcyan metadata" value="" maxlength="80" pattern="[A-Za-z0-9 )_(-]+"  title='Only numbers, letters, and the symbols: "-_ " can be used for artist name' autocomplete="off">
            </div>
            <div class="input-container">
              <label for="album">Album/Collection</label>
              <input id="album" type="text" name="album" class="input darkcyan metadata" value="" maxlength="80" pattern="[A-Za-z0-9 )_(-]+"  title='Only numbers, letters, and the symbols: "-_ " can be used for album name' autocomplete="off">
            </div>
            <div class="input-container">
              <label for="year">Release Year</label>
              <input id="year" type="text" name="year" class="input darkcyan metadata" value="" maxlength="4" pattern="[0-9]+"  title='Only numbers can be used for album year' autocomplete="off">
            </div>
            <div class="input-container">
              <label for="genre">Genre/Style</label>
              <input id="genre" type="text" name="genre" class="input darkcyan metadata" value="" maxlength="80" pattern="[A-Za-z0-9 )_(-]+"  title='Only numbers, letters, and the symbols: "-_ " can be used for genre name' autocomplete="off">
            </div>

          </div>

        </form>

     </div>
    	<% if (totalsize > UserSession.maxsize) {%>
    	<div class="oversize-message">
    	  <h5>Upload capacity exceeded. Remove files/folders to free up space, or contact Director to request more space</h5>
    	</div>
    	<% } %>
<!--------------------------------------------------------------------------------------------------------->
      <form id="fileFolderInput">

        <div class="file-box">
          <label type="button" class="folder-label">
            <img src="/file-folder.png" width="180" draggable="false" style="filter: drop-shadow(6px 4px 6px black);">
            <input class="file-input" type="file" name="files" hidden webkitdirectory mozdirectory directory multiple onchange="checkAndStageFiles(event.target.files)">
          </label>
        </div>

        <div class="file-box">
          <label class="file-label" type="button">
            <i class="fa fa-upload"></i>
            <input class="file-input" type="file" name="files" multiple hidden onchange="checkAndStageFiles(event.target.files)">
            <span>
              Choose a file…
            </span>
            <span class="file-name" style="">
              None
            </span>
          </label>

          <div class="operation-status">
            <span class="staged-count main-staged-count queued" title="Number of files staged for upload"></span>
    	    </div>
        </div>

        <section class="input-container">
          <div class="current-directory">
          </div>

          <span id="inputQuestion" title="Information on folder submission" type="button">
          <i class="fa fa-info-circle"></i>
          </span>

          <div id="folderInfo">

            <div id="questionMessage" hidden>
              <p><span style="color: #22a0f4">Creating new directory:</span>
                If you wish to create a new folder, type in a name below. If you wish to make a sub-directory (create within an already existing folder), you must specifiy the parent directory as well in your designation (divided by a "/"). For example: If you wanted to create a "Halloween" folder within the "Movies" directory, you would need to input "Movies/Halloween".
                Any directory without a parent ("/") is considered a Primary Directory/Base Folder, and can be found in the navbar, or within the prior folder list.
                <br><br>
                Hit the checkbox if you wish to create empty directories without uploading files.
              </p>
              <p><span style="color: #22a0f4">Uploading to existing directory:</span>
                If you know what folder you wish to upload your files to (and it exists of course), type in the folder like usual, or click any folder icon to add the relative folder name as the target. And simularily, if your target is a sub-directory nested within another directory, you must specify each directory layer -- divided by a "/" -- your target folder is nested within.
                <br><br>
                Names are case sensitive (even with Spaces), so be accurate lest you create bogus directories.
                All public directories/folders outside the current directory may also be located by typing their initial names, which will prompt them as suggestions in the list below.
              </p>

            </div>

            <label class="d-flex" for="folder">

              <div class="input-container">
                <input id="emptydirCheck" title="Allow empty directory creation?" class="checkbox" type="checkbox" style="transform: scale(1.5); margin-bottom: 6px">
                <i class="fa fa-folder-open" onclick="$(this).prev().click()"></i>
              </div>

              <% if (UserSession.home !== UsersDirectory) {%>
                <div class="input-container">
                  <input id="mydirCheck" type="checkbox" name="mydirectory" class="checkbox" style="transform: scale(1.5); margin-bottom: 6px" title="Targets your private directory">
                  <i class="fa fa-folder fa-house-user my-dir" title="Targets your private directory" onclick="$(this).prev().click()"></i>

                  <a href="<%=UsersDirectory%>/<%=UserSession.user.name%>"></a>
                </div>
              <%}%>
            <h4 style="margin: 0px;">Select folder destination:</h4>

            </label>
          </div>

          <div class="d-flex target-folder-div" title="Each folder must be divided by a '/'" style="width: 90%;">
            <button class="dark" type="button" class="dark">
              <a class="view-dir" href="/" ><i class="fa fa-arrow-right" style="width: 100%"></i></a>
            </button>

            <input id="FolderInput" name="folder" class="folder-input input" type="text" placeholder="Case sensitive, get it right." maxlength="150" pattern="[A-Za-z0-9/)_( \\.-]+"  title='Only numbers, letters, and the symbols: "/-_\" can be used for folder designation. Each folder must be divided by a "/"' required autocomplete="off">

            <button type="button" id="eraseInput" class="dark" onclick="clearInput($(this).prev()[0])"><i class="fa fa-times"></i>
            </button>
          </div>

           <button id="submit" class="my-button blue">SUBMIT <span class="staged-count"></span></button>

          <div id="folderSuggestions">
          </div>

        </section>
      </form>
<!--------------------------------------------------------------------------------------------------------->
  	</section>
     <label for="search">Search</label>

     <div style="display: inline; top: 0; left: 0;">
       <input class="file-search" type="search" name="search" placeholder="File">
     </div>


     <div class="resize">
       <i class="fa fa-search-minus resize" title="Show only basic file info" onclick="resizeCards(true)"></i>
       <i class="fa fa-search-plus resize" title="View media content of files" onclick="resizeCards(false)"></i>
     </div>
<!--------------------------------------------------------------------------------------------------------->
    <i class="fa fa-info-circle info" data-after="Within the File Table below, you can hold down left-click and drag the mouse (left to right) over items to select them. You may also drag-and-drop items onto other folders to transfer them. Hold down left-click on an item to start dragging."></i>
    <section id="FileTable" ondblclick="selectAll(AllFiles.count)">
      <div class="drag-select-box hide">
      </div>
      <!-- All staged files/file cards are placed in here on submission/uploads, along with any folders existing within the current directory -->
      <p></p>
    </section>
  </main>
<!--------------------------------------------------------------------------------------------------------->
    <section id="panelHeader">

      <svg height="60px" viewBox="0 0 2400 60" hidden>
        <polyline points="2400,1 2400,60 1,60 1,1 2400,1"/>
      </svg>

      <div id="panelButtons">
         <i class="fa fa-info-circle info d-flex info-up" style="align-self: center;" data-after="On clicking a panel button, hold down SHIFT if you wish to Download/Transfer/Delete all items in the current directory. Double-clicking while holding down SHIFT will select/unselect all items in the given panel listing (or File Table above)."></i>

        <button id="exitPanel" type="button" class="my-button hide" onclick="bringUpPanel()">
          <i class="fa fa-times" style="color: #4f6fb5; opacity: 0.7;"></i>
           | CLOSE PANEL
        </button>

        <button id="overheadPanel" class="my-button">
          <i class="fa fa-list" style="color: #4f6fb5; opacity: 0.7;"></i>
          | OVERHEAD PANEL
        </button>

        <button id="downloadBtn" class="my-button" onclick="downloadFiles()">
          <i class="fa fa-download" style="color: #3caf00; opacity: 0.7;"></i>
           | DOWNLOAD <span class="selected-count"></span>
        </button>

    	<button id="transferBtn" class="my-button transfer" onclick="transferMultiple(event)">
          <i class="fa fa-angle-double-right info" style="color: gold; opacity: 0.7;"></i>
           | TRANSFER <span></span><span class="selected-count"></span>
        </button>

        <button id="deleteBtn" class="my-button" onclick="verifyDeletion()">
          <i class="fa fa-trash-alt" style="color: red; opacity: 0.7;"></i>
           | DELETE <span class="selected-count"></span>
        </button>

        <button id="moreFiles" class="my-button">
          <i class="fa fa-th" style="color: purple; opacity: 0.7;"></i>
           | LIST ALL (<span class="all-count"></span>)
        </button>
      </div>
<!--------------------------------------------------------------------------------------------------------->
      <footer style="display: none; justify-content: space-around;">
        <div class="input-container">
          <label class="file-label panel-upload" type="button" style="height: 80px !important;">
            <i class="fa fa-upload"></i>
            <input class="file-input" type="file" name="files" multiple hidden onchange="checkAndStageFiles(event.target.files)">
            <span>
              Choose a file…
            </span>
            <span class="file-name" style="">
            </span>
          </label>
          <button class="dark" type="button" class="dark">
            <a class="view-dir" href="/" ><i class="fa fa-arrow-right" style="width: 100%"></i></a>
          </button>
          <input id="FolderInput" name="folder" class="input folder-input" type="text" placeholder="Case sensitive, get it right." maxlength="150" pattern="[A-Za-z0-9/)_( \\-]+" title='Some invalid characters used. Only numbers, letters, and the symbols: "/-_\" can be used for folder designation.' required autocomplete="off">
          <button id="submit" class="my-button blue" onclick="submitFiles(event)">SUBMIT <span class="staged-count"></span></button>
        </div>

        <div class="list-holder" style="position: relative">
          <i class="hide-lists fa fa-arrow-circle-up" style="color: #22a0f4;"></i>
          <ol class="all-files" style="box-shadow: 1px 1px 1px 2px #22a0f4;" ondblclick="selectAll(AllFiles.count)">

            <input class="file-search" type="search" name="search" placeholder="File">
              <h3>
                <i class="fa fa-info-circle info" data-after="Click/touch to select items. HOLD click/touch on files to download them. Double-clicking while holding down SHIFT will select/unselect all items in a given panel listing (or File Table above)."></i>
                <i class="fa fa-eye" title="Expand file viewer" onclick="viewTextInModal(this.parentNode.parentNode)"></i>
                <i class="fa fa-layer-group dimblue" title="Double click or tap to select/unselect all items in the list">
                </i>All Files/Folders: <span class="all-count"> 0 </span>
              </h3>
              <hr style="border: 1px solid #22a0f4;">
          </ol>
        </div>

        <div class="list-holder" style="position: relative">
          <i class="hide-lists fa fa-arrow-circle-up" style="color: gold;"></i>
          <ol class="staged-files" style="box-shadow: 1px 1px 1px 2px gold;" ondblclick="selectAll(StagedFiles.count)">
            <h3>
              <i class="fa fa-eye" title="Expand file viewer" onclick="viewTextInModal(this.parentNode.parentNode)"></i>
              <i class="fa fa-layer-group orange" title="Double click/tap to select/unselect all items in the list"></i>
              Staged Files: <span class="staged-count"></span>
            </h3>
            <hr style="border: 1px solid orange;">
          </ol>
        </div>

        <div class="list-holder" style="position: relative">
          <i class="hide-lists fa fa-arrow-circle-up" style="color: green;"></i>
          <ol class="selected-files" style="box-shadow: 1px 1px 1px 2px green;" ondblclick="selectAll(SelectedFiles.count)">
            <h3>
              <i class="fa fa-eye" title="Expand file viewer" onclick="viewTextInModal(this.parentNode.parentNode)"></i>
              <i class="fa fa-layer-group green" title="Double click/tap to select/unselect all items in the list"></i>
              Selected Files: <span class="selected-count"></span>
            </h3>
            <hr style="border: 1px solid green;">
          </ol>
        </div>

      </footer>
   <!--------------------------------------------------------------------------------------------------------->
    </section>
<!--------------------------------------------------------------------------------------------------------->
  <iframe id="viewImage" style="z-index: -1; position: fixed;" src="" title="Image Viewer" allowfullscreen></iframe>

  <button class="hide show-modal" type="button" name="button"></button>
  <div id="FS_Modal" class="modal">
    <div class="modal-content">
      <span class="closemodal"><i class="fa fa-times-circle closemodal"></i></span>
      <img id="uploadWait" class="modal-image" src="/upload.gif">
      <div class="fs-modal-message">
      <!---->
      </div>
    </div>
  </div>
<!--------------------------------------------------------------------------------------------------------->
  </body>
</html>

<!-- ================ -->
<script type="text/javascript" src="/Helpers.js"></script>
<script type="text/javascript" src="/Core.js"></script>
<script type="text/javascript" src="/DirectoryControl.js"></script>
<!-- ================ -->
<script text="text/javascript">
if (mobile) document.write('<link rel="stylesheet" type="text/css" href="/mobile.css">');
let PrimaryDirectories = <%-JSON.stringify(PrimaryDirectories)%>; //Used only by 'displayDirectoryStats', contains info of all the PRIMARY directories listed at top of page.
let Directory = <%-JSON.stringify(directory)%> || {};
let CurrentFolder = ''; //Same as Directory.name
/* ----------------------------------------- */
//The base partition that houses all directories. Needs to end with a "/" (example: "uploads/")
const AllFiles = new Uploaded_Status_Adjuster('uploaded', $('.all-files')[0], []);
//Keeps track of all files/folders on page in panel view, and allows renaming/deletion of those items
const SelectedFiles = new File_Status_Adjuster('selected', $('.selected-files')[0], []);
//Keeps track of all currently selected items on page within panel view
const StagedFiles = new File_Status_Adjuster('queued', $('.staged-files')[0], []);
//Keeps track of all files currently staged for upload

const CSSVariables = document.documentElement.style; //All variables used by CSS selectors
const MessageLog = document.querySelector('#MessageLog'); //Element that displays any info sent by Flash
const FileTable = document.querySelector('#FileTable');
//Element that houses ALL staged/uploaded file/folder cards (divs) on the page
const FolderInput = document.getElementsByClassName('folder-input');  //The folder input within the form, stores folder designation

const body = document.querySelector('body');
const FS_Modal = document.getElementById('FS_Modal');
const LOG_Modal = document.getElementById('LOG_Modal');
const dragbox = $('.drag-select-box');
const folderSuggestions = document.querySelector('#folderSuggestions');
const directoryStats = document.getElementsByClassName('directory-stats');
//Element that houses all directory info of the given Primary directory being hovered
</script>

<!-- ======================================================= -->
<script type="text/javascript" src="/ContentDisplay.js"></script>
<% if (UserSession.home === UsersDirectory && totalsize >= UserSession.maxsize) { %>
<% } else {%>
<script type="text/javascript" src="/StageAndUpload.js"></script>
<%}%>
<script type="text/javascript" src="/Interactive.js"></script>
<script type="text/javascript" src="/Prompts.js"></script>
<script type="text/javascript" src="/Mischellaneous.js"></script>
<script type="text/javascript" src="/FileAlteration.js"></script>
<script type="text/javascript" src="/KeyMouseTriggers.js"></script>
